<!DOCTYPE html lang="en">
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164325175-2"></script> -->
<!-- <script> -->
  <!-- // window.dataLayer = window.dataLayer || [];
  // function gtag(){dataLayer.push(arguments);}
  // gtag('js', new Date());

  // gtag('config', 'UA-164325175-2'); -->
<!-- </script> -->

	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<title>SteemAuto - Curation Trail and Fanbase</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
	<link rel="stylesheet" type="text/css" media="all" href="templates/steemauto-design-02/style.css" />
</head>
<body>
	<div class="head group">
		<div class="max">
			<div class="half branding">
				<span class="logo">
					<a href="/">Steemauto</a>
				</span>
				<span class="tagline">
					Steem automation
				</span>
			</div>
			<menu class="half user">
				<ul>
					<li><a href="https://worldofxpilar.com/faq.php">FAQ</a></li>
					<li><a href="https://steemlogin.com/oauth2/authorize?client_id=woxauto&redirect_uri=<?php echo $FRONTEND; ?>callback.php&scope=login" class="button trans">Login / Register</a></li>
				</ul>
			</menu>
		</div>
	</div>
	<div class="neck group">
		<div class="max">
			<div class="intro group">
				<div class="welcome">
					<p>Welcome to the world of automation!
					SteemAuto comes with amazing features: 
					you can schedule posts, build a fanbase, 
					follow a curation trail, and even automate
					claiming your payouts.</p>
					<!-- <p>Dear Users! We regret to inform you that because of Server Migration this service will not be available for some time. We will try to be as quick as possible. Thank you.</p> -->
					<a href="https://steemlogin.com/oauth2/authorize?client_id=woxauto&redirect_uri=<?php echo $FRONTEND; ?>callback.php&scope=login" class="button">Register</a>
				</div>
				<div class="visual">
					<i class="fa fa-cogs"></i>
				</div>
			</div>
			<div class="video">
				<div class="visual">
					<img src="templates/steemauto-design-02/i/sa-video-thumb.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="belly">
		<div class="max">
			<div class="features group">
				<div class="feature group">
					<div class="icon">
						<i class="fa fa-clock-o"></i>
					</div>
					<div class="text">
						<h3>Schedule Posts</h3>
						<p>Your time is money...schedule your post in advance, with the help of SteemAuto we'll publish your post whenever you want. Write and plan in advance. .. Leave the rest to Steemauto.</p>
					</div>
				</div>
				<div class="feature group">
					<div class="icon">
						<i class="fa fa-heart"></i>
					</div>
					<div class="text">
						<h3>Fanbase and Curation Trail</h3>
						<p>Follow famous authors and their trails, Upvote them automatically when they have published a 
new post—this will maximise your curation reward. The upvote weight can be adjusted manually.</p>
					</div>
				</div>
				<div class="feature group">
					<div class="icon">
						<i class="fa fa-trophy"></i>
					</div>
					<div class="text">
						<h3>Claiming Rewards</h3>
						<p>Don't have time to check your steem blog? No worries! we can claim (redeem) the post rewards for you.
Your post reward will go into your Steem wallet.</p>
					</div>
				</div>
				<div class="cta">
					<a href="https://steemlogin.com/oauth2/authorize?client_id=woxauto&redirect_uri=<?php echo $FRONTEND; ?>callback.php&scope=login" class="button">Login / Register</a>
				</div>
			</div><!-- /features -->
		</div>
	</div>
	<div class="feet group">
		<div class="max">
			<div class="half links">
				<div class="link">
					<i class="fa fa-github-alt"></i> <a href="https://github.com/wox-tools/XPILAR_STEEMAUTO_FRONTEND">GitHub</a>
				</div>
				<!-- <div class="link">
					<img class="discord" src="templates/steemauto-design-02/i/discord-logo.png" /> <a href="https://discord.gg/dzWKCZG">Discord</a>
				</div> -->
			</div>
			<div class="half credits">
				STEEM AUTO OPERATED AND MAINTAINED BY <a href="https://steemit.com/@xpilar">XPILAR</a> TEAM with Love <i class="fa fa-heart"></i> for Steem Users

			</div>
		</div>
	</div>
</body>

